/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include "littz_e73-pinctrl.dtsi"

/ {
	model = "littZ E73";
	compatible = "ACME,littz-e73";

	chosen {
		zephyr,console = &usb_cdc_acm_uart;
		zephyr,shell-uart = &usb_cdc_acm_uart;
		zephyr,uart-mcumgr = &usb_cdc_acm_uart;
		zephyr,bt-mon-uart = &usb_cdc_acm_uart;
		zephyr,bt-c2h-uart = &usb_cdc_acm_uart;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,ieee802154 = &ieee802154;
		zephyr,nrf-uicr = &uicr;
		zephyr,nrf-gpiote = &gpiote;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
			label = "Left LED (D10)";
		};
		led1: led_1 {
			gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;
			label = "Middle LED (D9)";
		};
		led2: led_2 {
			gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
			label = "Right LED (D8)";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		opentherm_in: opentherm_in {
			gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
			label = "OpenTherm input";
		};
		opentherm_out: opentherm_out {
			gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
			label = "OpenTherm output";
		};
	};

	rtc: rtc-emul {
		compatible = "zephyr,rtc-emul";
	};

	aliases {
		led0 = &led0;
		led1 = &led1;
		led2 = &led2;
		watchdog0 = &wdt0;
		otin = &opentherm_in;
		otout = &opentherm_out;
		rtc = &rtc;
	};
};

&uicr {
	// gpio-as-nreset;
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(48)>;
		};

		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000c000 DT_SIZE_K(472)>;
		};

		slot1_partition: partition@82000 {
			label = "image-1";
			reg = <0x00082000 DT_SIZE_K(472)>;
		};

		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0x000f8000 DT_SIZE_K(32)>;
		};
	};
};

&uart0 {
	status = "disabled";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&qspi {
	status = "disabled";
};

&adc {
	status = "disabled";
};

&ieee802154 {
	status = "okay";
};

zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";

	usb_cdc_acm_uart: cdc-acm-uart {
		compatible = "zephyr,cdc-acm-uart";
	};
};
